
<div class="container">
  <div class="template-list">
    <ul>
      <% @dogs.each do |dog| %>
        <li>
          <div class="full-template">
            <ol>
              <li class="template"><a href="<%= "dogs/#{dog.id}" %>"><%= dog.name %></a></li>
              <li class="template-time">
              <% if allow_edit(dog) %> <!-- this will run a helper method. see helpers -->
                <a href="/dogs/<%= dog.id %>/edit">edit</a>
                  <form class="template-delete button" action="/dogs/<%= dog.id %>" method="post">
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" value="delete dog" class="template-delete">
                </form>
              <% end %>
              Created <%= Time.now - dog.created_at %> ago
              <a href="#"><%= dog.owner.username %></a>
              </li>
            </ol>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
